@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url("assets/2150038853.jpg");
	-webkit-backdrop-filter: blur(5px); backdrop-filter : blur( 5px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100dvh;
	backdrop-filter: blur(8px);
}

.divInicial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inicial {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

.log {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 600px;
	max-width: 100%;
	max-height: 100%;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	padding: 20px;
	z-index: 1;
}

input[type="text"], input[type="password"], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.lnr-eye {
	position: absolute;
	top: 14.8cqmax;
	right: 30px;
	cursor: pointer;
	opacity: 0.3;
}

#olho {
	height: 25px;
	width: 25px;
}

#olho:hover {
	height: 27px;
	width: 27px;
	top: 200px;
	right: 30px;
}

input[type="submit"] {
	width: 100%;
	background-color: #368839;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #20cc29;
}

label {
	color: white;
	font-size: large;
}

.textLabel {
	font-size: 20px;
	padding-bottom: 25px;
}

.textoResposta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255);
	opacity: 70%;
	width: 100%;
	height: 10%;
	border-radius: 20px;
	position: relative;
	font-size: large;
}

.corText {
	font-weight: 400;
	font-size: large;
	color: wheat;
}

.corText2 {
	font-weight: 600;
	font-size: large;
	color: wheat;
}

.corText2:hover {
	color: #20cc29;
}